{%extends 'all-images/base.html'%}

{% block content %}
{{block.super}}


<div class="container">

  <!-- Looping through images   -->
  {% for image in images %}

  <div class="row">
    <!-- displaying Details -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h5> Image Name: {{ image.name }} </h5>
      <p> Category: {{ image.category }} </p>
      <p> Category: {{ image.location }} </p>
    </div>
    <!--Display Image  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="/image/{{image.id}}" class="text-center"> <img src="{{image.image.url}}" class="img-responsive" alt="Image">
 </a>

      <div class="thumbnail">
      </div>
    </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Images</h2>
  </div>
  {% endfor %}

</div>


{% endblock %}